/* line 9, ../../app/assets/stylesheets/application.scss */
body {
  background-color: #e7e7e7;
}

/* line 13, ../../app/assets/stylesheets/application.scss */
#spread {
  background-color: #e7e7e7;
}
/* line 15, ../../app/assets/stylesheets/application.scss */
#spread #page_content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
}
