// framework imports
@import "compass";
@import "compass/layout";
@import "blueprint";

// application imports
$spread_bg: #E7E7E7;
$page_content_bg: #FFF;

body {
  background-color: $spread_bg;
}

#spread {
  background-color: $spread_bg;
  #page_content {
    @include container;
    background-color: $page_content_bg;
    > * {
      border: 1px solid blue;
    }
    #page_header {
      @include clearfix;
    }
    #page_main {
      @include clearfix;
    }
    #page_footer {
      @include clearfix;
    }
  }
}
